language: java
sudo: false
jdk:
  - oraclejdk8
after_succes:
  - bash <(curl -s https://codecov.io/bash)
before_deploy:
  - mvn -DskipTests package
  - export JAR_FILE=$(ls ./target/go-euro-*-jar-with-dependencies.jar)
deploy:
  provider: releases
  api_key:
    secure:2gCsi2ETYczR0Rtw7jX7JPKnb62k/aOkcWIlTwywlNvC2fD1Ey7iay7fpKA0DGgDM0cP9Tq7vyBoeclTFaUmnyejOQL1HKAu8L2RxFNfGKWoTIu1aUZWv5pbjLuVsL/zpA9vOD9RwtK22zBlBzjwTicywmKYuwkPNH6idHhu2TQn3u1KqZNCeo9iJ3FdiU8suvlZMJV8125X8nqvlUC5n78/+xECXQGtbL0iB9ULjmT/OfMvBdLSqWNAqJuCmUbo=
  file: $JAR_FILE
  skip_cleanup: true
  on:
    repo: quitefire/goEuro
    tags: true
addons:
    apt:
    packages:
    - oracle-java8-installer
